/* disabled */
.cap-inputText:disabled {
  cursor: default !important;
}

label.label-duas-linhas {
  max-width: 69% !important;
  top: 15px !important;
  height: 20px !important;
  margin-top: -10px;
}

.cap-inputText.sm {
  height: 40px;
}