<label [for]="id" class="{{textError}} {{disabled ? 'disabled' : ''}} {{styleClass}}" *ngIf="label?.length">
  {{label}}</label>

<input [id]="id" #input class="form-control input-type-text cap-inputText {{styleClass}}" (ngModelChange)="hide()" [(ngModel)]="value" [disabled]="disabled" type="password" [attr.maxlength]="maxlength?.length ? maxlength : ''" [placeholder]="placeholder?.length ? placeholder : ''" />
<i class="fa fa-exclamation-circle ico-error {{disabled ? 'disabled' : ''}}" *ngIf="textError"></i>
<cap-icon icon="ver-senha" #icone styleClass="ico-ver-senha" (click)="toggle()" *ngIf="showPassword" class="ver-senha-password {{styleClass}}"></cap-icon>
<p class="helper-text {{textError}} {{disabled ? 'disabled' : ''}}">{{textHelper}}</p>
