#password-strength {
    position: absolute;
    z-index: 1;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 15px 20px;
    max-width: 265px;
    font-size: 14px;
    right: -250px;
    top: 40px;
    display: none;
    height: 290px;
  }
  
  #password-strength .pw {
    display: flex;
    margin-bottom: 10px;
  }
  
  #password-strength .pw cap-icon::ng-deep .check-circulo {
    margin-right: 10px;
    font-size: 18px;
  }
  
  #password-strength .pw cap-icon.invalid::ng-deep i {
    opacity: 0.4;
  }
  
  #password-strength .hint {
    font-size: 12px;
    margin-top: 15px;
    left: 0;
    top: 0;
  }
  
  #password-strength .progressbar {
    display: block;
    height: 7px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 10px;
    background-color: rgba(158, 158, 158, 0.2);
  }
  
  #password-strength .progressbar .line {
    height: 5px;
    display: block;
    border-radius: 5px;
  }
  
  #password-strength .progressbar .line.nenhuma {
    background-color: #b00020;
    width: 0%;
  }
  
  #password-strength .progressbar .line.fraca {
    background-color: #b00020;
    width: 33%;
  }
  
  #password-strength .progressbar .line.media {
    background-color: #ffff66;
    width: 66%;
  }
  
  #password-strength .progressbar .line.forte {
    background-color: #00cc00;
    width: 100%;
  }