<div class="pagination">
    <button class="link prev" (click)="onPrev()" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">
        <i class="fa fa-angle-left"></i>
    </button>

    <span>{{ primeiraLinha }}-{{ ultimaLinha }} DE {{ contagemPaginasTotal }}</span>

    <button class="link next" (click)="onNext(true)" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">
        <i class="fa fa-angle-right"></i>
    </button>
</div>  