.button_daterangepicker::ng-deep .mydp .selectorarrowleft:before {
  right: 15px;
}

.button_daterangepicker::ng-deep {
  & .mydp {
    & .selectiongroup {
      width: 45px;
      height: 45px;
      background-color: rgb(197, 150, 9);
      color: white;
      cursor: pointer;
      border: none !important;
      box-shadow: 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0.5px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);

      & .mydpicon {
        color: white;
        padding-left: 18px;
        font-size: 24px !important;
      }
    }

    & .selection {
      background-color: rgb(197, 150, 9);
    }

    & input {
      display: none;
    }

    & .selector {
      margin-left: -252px !important;
    }
  }
}

my-date-range-picker::ng-deep .mydrp .btnpickerdisabled,
my-date-range-picker::ng-deep .mydrp .selectiondisabled {
  opacity: 0.38;
}
