<label *ngIf="label?.length">
  {{label}}</label>

<div class="input-daterange">
  <div class="{{colsStart}} form-group">
    <label>{{labelStart}}</label>
    <input type="text" id="date1" [disabled]="disabled" [placeholder]="placeholderStart?placeholderStart:''" #date1 (blur)="setDates(date1.value, date2.value)"
      (change)="setDates(date1.value, date2.value)" class="form-control cap-inputText input-type-text left date" name="date1">
    <cap-icon icon="calendario" styleClass="icon-calendar" [disabled]="disabled" (click)="date1.focus()" [size]="20"></cap-icon>

  </div>
  <div class="{{colsEnd}} form-group">
    <label>{{labelEnd}}</label>
    <input type="text" id="date2" [disabled]="disabled" [placeholder]="placeholderEnd?placeholderEnd:''" #date2 (blur)="setDates(date1.value, date2.value)"
      (change)="setDates(date1.value, date2.value)" class="form-control cap-inputText input-type-text left date" name="date2">
    <cap-icon icon="calendario" styleClass="icon-calendar" [disabled]="disabled" (click)="date2.focus()" [size]="20"></cap-icon>

  </div>
</div>
