:host {
  @apply z-50 relative max-h-24 w-full text-base;
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.5);
}

header {
  @apply relative w-full flex items-center h-16;
}

.logo {
  @apply flex justify-center items-center relative p-0 border-b-0;
  min-width: 15rem;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;

  &.fechado {
    @apply -ml-60;
  }
}

.navbar {
  @apply w-full h-full flex items-center space-x-2;
}

.label-projeto {
  @apply flex items-center space-x-2 ml-2;
}

.menu-btn {
  @apply cursor-pointer;
  transform: scale(0.6);
  text-decoration: none;
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.navbar-custom-menu,
.navbar-right {
  float: right;
  padding-top: 0px !important;
  position: absolute;
  right: 0;
  top: 0;
}

.text-user {
  font-family: Ubuntu;
  font-weight: 500;
  padding-right: 10px;
  font-size: 13px;
}

.icon-name-user {
  font-size: 16px;
  font-weight: bold;
}

.icon-fullscreen {
  top: 25px;
  text-decoration: none !important;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.box-user {
  margin-left: -20px;
  float: right;
  color: rgba(0, 0, 0, 0.87);
}

.user-menu {
  position: relative;
  float: right;
  margin-right: 15px;
}

.user-body {
  padding: 10px 15px;
}

.user-body span {
  font-family: Ubuntu;
  font-weight: 500;
  text-align: left;
  font-size: 13px;
}

.user-body i {
  float: right;
}

.img-avatar-header {
  height: 40px;
  margin-right: 10px;
}

.divisor {
  height: 0.5px;
  opacity: 0.54;
  background-color: #979797;
  width: 90%;
  display: block;
  float: right;
}

.dropdown-user {
  border-radius: 4px !important;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.175) !important;
  border: none !important;
}

.nav .open > a,
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent !important;
}

.dropdown-menu > a {
  padding: 0px;
  color: rgba(0, 0, 0, 0.5) !important;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.dropdown-menu > a > li:hover {
  border-left: 5px solid #ffb72a;
}

.dropdown-menu > a > li:hover span {
  position: relative;
  left: -5px;
}

.dropdown-menu {
  padding: 0px 0 !important;
}

.navbar {
  border: none !important;
}

.navbar-nav {
  margin: 0px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: #fff;
  }

  .navbar-custom-menu > ul > li.open > a > i {
    position: relative;
    left: 158px;
    position: absolute;
    right: 0;
  }

  .user-menu.open {
    right: 25%;
  }
}

.navbar-custom-menu cap-icon::ng-deep .retrair {
  position: relative;
  top: 3px;
}
