.main-header {
  position: relative;
  max-height: 100px;
  box-shadow: 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.5);

  .logo {
    margin-left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    display: block;
    float: left;
    height: 70px;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;

    color: #fff;
    border-bottom: 0 solid transparent;
    z-index: 2;
    position: relative;

    &.fechado {
      margin-left: -230px;
    }
  }

  .sidebar-toggle {
    transform: scale(0.6);

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  .navbar-custom-menu,
  .navbar-right {
    float: right;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .specialTop {
    top: 25px;
  }
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.navbar .navbar-static-top {
  background: #fff;
  margin-left: 225px;
}

.text-user {
  font-weight: 500;
  padding-right: 10px;
  font-size: 13px;
}

.icon-name-user {
  font-size: 16px;
  font-weight: bold;
}

.icon-fullscreen {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 8px;
  position: relative;
  top: 2px;
}

.box-user {
  margin-left: -20px;
  float: right;
  color: rgba(0, 0, 0, 0.87);
}

.user {
  &-menu {
    position: relative;
    float: right;
    margin-right: 15px;
  }

  &-body {
    padding: 10px 15px;

    span {
      font-weight: 500;
      text-align: left;
      font-size: 13px;
    }

    i {
      float: right;
    }
  }
}

.img-avatar-header {
  height: 40px;
  margin-right: 10px;
}

.label-projeto {
  position: relative;
  top: 12px;
  vertical-align: middle;
}

.divisor {
  height: 0.5px;
  opacity: 0.54;
  background-color: #979797;
  width: 90%;
  display: block;
  float: right;
}

.dropdown-user {
  border-radius: 4px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.175);
  border: none;
}

.nav .open>a,
.nav>li>a:hover,
.nav>li>a:focus {
  background: transparent;
}

.dropdown-menu>a {
  padding: 0px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2px;
  text-decoration: none;
}

.dropdown-menu>a>li:hover {
  border-left: 5px solid #ffb72a;
}

.dropdown-menu>a>li:hover span {
  position: relative;
  left: -5px;
}

.navbar-nav > li > .dropdown-menu {
  padding: 0;
  z-index: 1000;
  margin-top: -5px;
  right: 0;
  left: auto !important;
}

.navbar {
  border: none;
  background-color: #fff;
  z-index: 1;
  max-height: 70px;
  height: 70px;
}

.navbar-nav {
  margin: 0px;
}

.navbar-custom-menu .navbar-nav .dropdown .dropdown-toggle .positionRelative {
  position: relative;
  top: 3px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background-color: #fff;
  }

  .navbar-custom-menu>ul>li.open>a>i {
    position: relative;
    left: 158px;
    position: absolute;
    right: 0;
  }

  .user-menu.open {
    right: 25%;
  }
}
