<header class="main-header">

  <a href="#" class="logo" #logoHeader>
    <span class="logo-mini">
      <img [src]="logoBrasilCap">
    </span>
  </a>

  <nav class="navbar navbar-static-top">
    <div class="label-projeto">
      <div id="menu-toggle" class="sidebar-toggle hamburger hamburger--arrowturn js-hamburger is-active" (click)="toggleMenu()">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <img id="logo-img" [src]="logoSistema">
    </div>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle box-user" data-toggle="dropdown">
            <span class="hidden-xs text-user">Olá, {{username}}</span>
            <cap-icon icon="expandir" [size]="16"></cap-icon>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <a [href]="rotaPerfil">
              <li class="user-body">
                <span>Perfil</span>
                <cap-icon icon="usuario" styleClass="pull-right" [size]="24"></cap-icon>
              </li>
            </a>
            <span class="divisor"></span>
            <a href="#" (click)="logar()">
              <li class="user-body">
                <span>Logout</span>
                <cap-icon icon="sair" styleClass="pull-right" [size]="24"></cap-icon>
              </li>
            </a>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>
