/* TABELA */
table {
  background-color: white;
  border: 1px solid;
  border-color: rgba(117, 117, 117, 0.1);
}

tbody tr:nth-child(even) {
  background: rgba(117, 117, 117, 0.1);
}

.table-header {
  height: 45px;
  background-color: rgba(74, 74, 74, 0.2);
}

th,
td {
  vertical-align: middle !important;
  border: 1px solid;
  border-color: rgba(117, 117, 117, 0.1);
}

th {
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1 !important;
  letter-spacing: 0.4px;
  color: #000000;
  border-bottom-color: inherit;
}

/* TABELA - end */

// CAP CARD
cap-card::ng-deep {
  .cap-card {
    width: inherit;
    padding: 25px;
    margin-bottom: 25px;

    .card-title {
      font-size: 20px;
      margin: 0 0 25px;
    }
  }

  h2 {
    margin: 0;
  }

  .usuario-info {
    margin-bottom: 25px;
  }
}

// CAP CARD - end

.text--right cap-btncollapse::ng-deep .btnCollapse {
  margin: 0;
}

.cap-inputText {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.08) !important;
  padding-top: 6px !important;
}

.cap-inputText-icon {
  top: 5px;
}

.content-header {
  padding: 25px;
  height: 75px;

  h1 {
    margin: 0;
    line-height: 1;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.name {
  width: 160px;
}

.cpf {
  width: 110px;
}

.email {
  width: 196px;
}

.boxPermissao {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  padding: 15px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  cap-btncollapse::ng-deep .btnCollapse {
    margin: 0;
  }
}

cap-btncollapse::ng-deep .btnCollapse {
  color: #7b7b7b;
}

.box-closed{
  height: 34px;
  overflow: hidden;
}

.subtitle-1-brcap {
  font-weight: 500;
}

.subtitle-1-brcap,
.chips-caption-brcap {
  margin: 0;
}

.func-label {
  padding: 10px 15px;
  display: block;
  margin-left: 20px;
}

.item {
  display: block;
  height: 46px;
  border-bottom: 1px solid #ddd;
}

.acoes {
  padding-left: 20px;
}

cap-button::ng-deep .cap-button[disabled] {
  opacity: 0.38 !important;
}

.col-md-1 cap-button::ng-deep .cap-button {
  width: 40px;
  height: 40px;
  padding: 0px 20px;

  cap-icon::ng-deep .brcap-ico {
    font-size: 24px !important;
    left: -11px;
  }
}

cap-icon {
  color: #7b7b7b;

  &::ng-deep .brcap-ico {
    position: static !important;
  }
}

.col-lg-5 cap-button::ng-deep .cap-button {
  height: 36px;
  padding: 0px 23px;
}

// CARD - DASHBOARD
.card {
  background: white;
  padding: 13px 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-left: 5px solid transparent;
  margin-bottom: 25px;

  &-titulo {
    color: black;
    display: inline;
    font-size: 16px;
  }

  &-valor-total {
    font-size: 30px;
    color: #616161;
    margin: 10px 0 7px;
    line-height: 1;
    text-align: right;
  }
}

.cardAtivo {
  border-left-color: black;
  transition: 0.6s;

  .card-titulo,
  .card-valor-total {
    font-weight: 500;
  }
}

// CARD - DASHBOARD - end

.hint-static cap-hint::ng-deep .cap-hint{
  margin-top: 45px;
}

.boxPermissao cap-hint::ng-deep .cap-hint{
  position: absolute;
  right: -20px;
  margin-top: 7px;
}

.btn-permitir {
  display: table;
  margin: 0 auto;
  border: 1px solid #838383;
  border-radius: 5px;
}

.icone-toggle-funcionalidade {
  float: right;
  position: relative;
  top: -12px;
  font-size: 22px;
}

.pointer {
  cursor: pointer;
}

.btn-permitir:hover {
  opacity: 0.8;
}

.nome {
  text-transform: capitalize;
}

.cpf {
  margin: 0;
}

.nomeModulo {
  font-size: 16px;
}

.funcionalidade {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.acoesVisualizar {
  font-size: 12px;
  margin-top: 10px;
}

.button_confirmar {
  float: right;
}

.text--right {
  text-align: right;
}

cap-btnCollapse.volta::ng-deep .btnCollapse::after {
  content: "\78";
}

// MODAL
.old-modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 2;

  &-active {
    display: block;
  }

  &-content {
    width: 335px;
    height: 183px;
    top: 50%;
    margin-top: -91px;
    left: 50%;
    margin-left: -167px;
    border-radius: 10px;
    background-color: white;
    padding: 35px 20px;
    position: relative;
  }

  p {
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;

    span {
      font-weight: bold;
    }
  }

  .big-button {
    width: 100px !important;
  }

  &-buttons {
    text-align: center;

    .outline,
    .normal {
      width: 71px;
      height: 24px;
      font-size: 10px;
      border-radius: 5px;
    }

    .outline {
      border: solid 1px rgba(0, 0, 0, 0.12);
      background: none;
      margin-right: 43px;
    }

    .normal {
      border: none;
      background-color: #006bbb;
      color: white;
    }
  }
}

// MODAL - end

.content-header .col-md-3,
.content-header .col-md-1 {
  margin-top: -5px;
}

cap-checkbox[ng-reflect-model="true"].checkbox-cinza::ng-deep label:before {
  background: rgb(117, 117, 117) !important;
}

.empty-message {
  text-align: center;
}

cap-pagination::ng-deep .pagination {
  margin-top: 25px;
}

.float--right {
  float: right;
  margin-top: -5px;
}

.disabled {
  pointer-events: none;

  .card-titulo,
  .card-valor-total {
    color: rgba(0,0,0,0.28);
    opacity: 5;
  }
}

// Loader
.loader {
  position: fixed;
  z-index: 100;
  background: #f1f1f1;
  top: 145px;
  left: 230px;
  width: calc(100% - 230px);
  height: calc(100% - 145px);

  p {
    margin-top: 10px;
  }

  .loader-body {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -68px;
    margin-top: -34px;
  }
}