.boxPermissao {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  padding: 10px 15px;
  margin: 10px 0px;
}

.func-label {
  padding: 10px 15px;
  display: block;
  margin-left: 20px;
}

.item {
  display: block;
  height: 46px;
  border-bottom: 1px solid #ddd;
}

.acoes {
  padding-left: 20px;
}

.description {
  display: block;
  padding: 25px;
  margin-top: 15px;
  background-color: rgba(117, 117, 117, 0.2);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.btn-permitir {
  display: table;
  margin: 0 auto;
  border: 1px solid #838383;
  border-radius: 5px;
}

.icone-toggle-funcionalidade {
  float: right;
  position: relative;
  top: -12px;
  font-size: 22px;
}

.pointer {
  cursor: pointer;
}

.btn-permitir:hover {
  opacity: 0.8;
}

.nome {
  font-size: 20px;
  margin-bottom: 10px;
}

.cpf {
  margin: 0;
}

.nomeModulo {
  font-size: 16px;
}

.funcionalidade {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.acoesVisualizar {
  font-size: 12px;
  margin-top: 10px;
}
.btn-voltar {
  position: relative;
  top: 20px;
}

.selectAll-modulos {
  position: relative;
  top: 20px;
}

/* // Tabelas */

table {
    background-color: white;
    border: 1px solid;
    border-color: rgba(117, 117, 117, 0.1);
  }
  
  tbody tr:nth-child(even) {
    background: rgba(117, 117, 117, 0.1);
  }
  
  .table-header {
    height: 45px;
    background-color: rgba(74, 74, 74, 0.2);
  }
  
  th,
  td {
    vertical-align: middle !important;
    border: 1px solid;
    border-color: rgba(117, 117, 117, 0.1);
    text-transform: capitalize;
  }
  
  th {
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #000000;
    border-bottom-color: inherit;
  }
  
  th span {
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    position: relative;
    left: 3px;
  }
  
  .tools {
    // background-image: url("../../assets/img/mover-celula.svg");
    background-image: url("../../assets/img/seta-cima-baixo.svg");
    // background-position: left, right;
    background-position: right;
    // background-size: 12px, 12px;
    background-size: 12px;
    // background-repeat: no-repeat, no-repeat;
    background-repeat: no-repeat;
  }
  
  .filtros {
    border-bottom-color: #979797;
  
    th {
      padding: 0;
    }
  
    select {
      appearance: none;
      border: none;
      height: 36px;
      width: 100%;
      background: right no-repeat url("../../assets/img/seta-baixo.svg");
  
      * {
        border-bottom: 1px solid #979797;
      }
    }
  }
  
  .dataEvento {
    width: 93px;
    height: 45px;
  }
  
  .evento {
    width: 129.5px;
    height: 45px;
  }
  
  .parceiro {
    width: 200px;
    height: 45px;
  }
  
  .idContabil {
    width: 105px;
    height: 45px;
  }
  
  .qntTitulo {
    width: 73px;
    height: 45px;
  }
  
  .valor {
    width: 129.5px;
    height: 45px;
  }
  
  .acoes {
    width: 46.7px;
    height: 45px;
  }
  
  thead tr th {
    padding: 0;
    padding-left: 8px;
  }