.boxPermissao {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  padding: 10px 15px;
  margin: 10px 0px;
}

.func-label {
  padding: 10px 15px;
  display: block;
  margin-left: 20px;
}

.item {
  display: block;
  height: 46px;
  border-bottom: 1px solid #ddd;
}

.acoes {
  padding-left: 20px;
}

.description {
  display: block;
  padding: 25px;
  margin-top: 15px;
  background-color: rgba(117, 117, 117, 0.2);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.btn-permitir {
  display: table;
  margin: 0 auto;
  border: 1px solid #838383;
  border-radius: 5px;
}

.icone-toggle-funcionalidade {
  float: right;
  position: relative;
  top: -12px;
  font-size: 22px;
}

.pointer {
  cursor: pointer;
}

.btn-permitir:hover {
  opacity: 0.8;
}

.nome {
  font-size: 20px;
  margin-bottom: 10px;
}

.cpf {
  margin: 0;
}

.nomeModulo {
  font-size: 16px;
}

.funcionalidade {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.acoesVisualizar {
  font-size: 12px;
  margin-top: 10px;
}
.btn-voltar {
  position: relative;
  top: 20px;
}

.selectAll-modulos {
  position: relative;
  top: 8px;
}
