<div class="pagination">
  <div class="numbers">
    <button class="link first" (click)="goToPage(1)" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">
      <i class="fa fa-angle-double-left"></i>
    </button>
    <button class="link prev" (click)="goToPage(page-1)" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">
      <i class="fa fa-angle-left"></i>
    </button>

    <button *ngFor="let pageNum of getPages()" (click)="goToPage(pageNum)" [ngClass]="{'active': pageNum === page, 'disabled': loading}">{{ pageNum }}</button>

    <button class="link next" (click)="goToPage(page+1)" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">
      <i class="fa fa-angle-right"></i>
    </button>
    <button class="link last" (click)="goToPage(getLastPage())" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">
      <i class="fa fa-angle-double-right"></i>
    </button>
  </div>
</div>
