.modal {
  background: rgba(0, 0, 0, 0.8);
}

.close-modal {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #757575;
  cursor: pointer;
}

.modal-content {
  padding: 10px 10px;
}

.close-modal:hover {
  opacity: .8;
}

.modal-header {
  padding: 15px 15px 0px 15px;
  font-size: 16px;
  border: unset;
}

.modal-footer {
  border: unset;
}
