.cap-tabPanel > li {
  margin-right: -2px;
}

.cap-tabPanel > li > a {
  border-radius: 0px;
  border: none;
  background-color: #fafafa;
  border-bottom: 1px solid #979797;
  letter-spacing: 0.2px;
  padding: 13px 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.cap-tabPanel > li.active > a {
  background-color: rgba(208,116,0,0.58);
  border-bottom: 2px solid #d07400;
}

.nav-tabs > li.active > a {
  height: 55px !important;
  position: relative;
  top: -8px;
  right: 2px;
  margin-bottom: 20px;
  vertical-align: middle;
  display: table-cell;
}

.cap-tabPanel > li:hover > a {
  background-color: rgba(208,116,0,0.15);
}

.cap-tabPanel > li.disabled > a {
  background-color: #e5e5e5;
  color: #ccc;
}
.cap-tabPanel > li.disabled:hover > a {
  background-color: #e5e5e5;
  color: #ccc;
  cursor: default;
}

.nav-tabs {
  border: none;
}