.cap-tabPanel {
  border-bottom: 1px solid #979797;
}

.cap-tabPanel > li {
  margin-right: -2px;
}

.cap-tabPanel > li > a {
  border-radius: 0px;
  border: none;
  background-color: #fafafa;
  border-bottom: 1px solid #979797;
  letter-spacing: 0.2px;
  padding: 13px 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.cap-tabPanel > li.active > a {
  background-color: #efd0a7;
}

.cap-tabPanel > li:hover > a {
  background-color: #e5e5e5;
}

.cap-tabPanel > li.disabled > a {
  background-color: #e5e5e5;
  color: #ccc;
  cursor: not-allowed;
}
.cap-tabPanel > li.disabled:hover > a {
  background-color: #e5e5e5;
  color: #ccc;
}
