@import './../../assets/sass/reset-link';
$bg-color: #030303;
$text-color: rgba(255, 255, 255, 0.87);
$label-size: .8em;
$project-bgs: (
  malthus: linear-gradient(55deg, #412614, #6e513c),
  produto: linear-gradient(56deg, #5f3500, #ffd503),
  posvenda: linear-gradient(54deg, #003d72, #016fb0),
  financeiro: linear-gradient(55deg, #133018, #409932),
  contabilidade: linear-gradient(55deg, #10123c, #565696)
);
@mixin border-radius() {
  border-radius: 5px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100vh;
}

.form-login {
  background: $bg-color;
  color: $text-color;
  width: 400px;
  box-shadow: 2px 1px 20px #000;
  padding: 35px;
  @include border-radius();
  .logo {
    margin-bottom: 2em;
  }
  h2 {
    font-size: 1.1em;
  }
}

.input-group {
  position: relative;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;

  input {
    background: none;
    color: $text-color;
    border-color: $text-color;
    padding: 5px;
    height: calc(1em + #{2 * ($label-size)});
    width: 100%;
    @include border-radius();
    &:-webkit-autofill {
      background: none;
      box-shadow: 0 0 0 30px $bg-color inset !important;
      -webkit-text-fill-color: #fff;
    }
  }
}

.signup-button {
  background: $bg-color;
  border: 1px solid $text-color;
  padding: 5px;
  @include border-radius();
  @include reset-link($text-color);
  width: 45%;
  display: inline-block;
  text-align: center;
}

.submit-button {
  background: $bg-color;
  border: 1px solid $text-color;
  padding: 5px;
  color: $bg-color;
  background: $text-color;
  cursor: pointer;
  width: 45%;
  display: inline-block;
  @include border-radius();
}

@each $project,
$bg-value in $project-bgs {
  .bg-project-#{$project} {
    background: $bg-value;
  }
}

$header-size: 65px;
.header {
  background-color: #fff;
  height: $header-size;
  padding-left: 30px;
  display: table-cell;
  vertical-align: middle;
  width: 1000vh;
  min-width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  .divider {
    border: 1px solid #e5e5e5;
    margin: 0px 20px;
    padding: 12px 0px;
  }
  .logo {
    width: 150px;
  }
}

.overlap-header {
  margin-top: -$header-size;
}

input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #757575;
  margin-bottom: 15px;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  outline: none !important;
  background-color: #1f2728;
  color: #fff;
}
input.error {
  border: 2px solid #b00020;
}

label {
  color: $text-color;
  font-weight: 500;
  position: absolute;
  top: -($label-size / 2);
  left: $label-size * 2;
  font-size: $label-size;
  background: $bg-color;
  padding: 0 4px;
}

.btn-cadastrase:hover {
  background-color: #fff;
  color: #1a3538;
}
.icon-visualizar {
  color: #fff;
  float: right;
  top: -54px;
  position: relative;
  left: -15px;
}

label.error {
  color: #b00020;
}

small.erro {
  position: relative;
  top: -10px;
  left: 10px;
  color: #b00020;
  font-weight: 500;
  font-size: 12px;
  display: block;
}
