<header class="header">
  <img class="logo" src="../../assets/img/brasilcap.svg" alt="Brasilcap Logo">
  <span class="divider"></span>
  <img class="logo" src="../../assets/img/logo-darwin.svg" alt="Logo Darwin">
</header>
<main class="overlap-header center-content full-height bg-project-{{ sistema }}">
  <form class="form-login" autocomplete="off">
    <img class="logo" src="../../assets/img/{{ sistema }}.svg" alt="Logo {{ sistema }}">

    <small class="erro" *ngIf="loginRequired">Campo obrigatório</small>
    <small class="erro" *ngIf="loginInvalido">E-mail inválido.</small>
    <div class="input-upper-label" [ngClass]="emailValidationClass">
      <label>E-mail</label>
      <input type="email" id="email-login" required class="form-control input-type-text {{loginInvalido || loginRequired ? 'login-invalido' : ''}}"
        name="login" [(ngModel)]="usuario.login">
    </div>

    <small class="erro" *ngIf="senhaRequired">Campo obrigatório</small>
    <div class="input-upper-label">
      <label>Senha</label>
      <input id="senha-login" type="password" required class="form-control input-type-password {{senhaInvalida || senhaRequired ? 'senha-invalido' : ''}}"
      name="senha" [(ngModel)]="usuario.senha">
    </div>
    <div>
      <button type="submit" (click)="login()" class="submit-button">Acessar</button>
      <a href="{{ urlCadastro }}" class="signup-button" target="_blank" [href]="urlCadastro">Cadastre-se</a>
    </div>
    <div>
      <a class="content-link" (click)="esqueciSenha(usuario)">Esqueci a senha</a>
    </div>
  </form>
</main>