.cap-hint {
  position: relative;
  display: inline-block;
}

.round {
  color: #9e9e9e;
  background: none;
  border-radius: 11px;
  width: 20px;
  height: 20px;
  padding-left: 3px;
  cursor: pointer;
  transition: color ease-in-out 0.5s;

  &:hover {
    color: #757575;
    transition: color ease-in-out 0.5s;
  }
}

.cap-hint .hintText {
  display: none;
  pointer-events: none;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px 25px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 150%;
  width: max-content;
  max-width: 200px;

  &:after,
  &:before {
    left: -24px;
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -11px
  }

  &:after {
    border-right-color: #fff;
    border-width: 12px
  }

  &:before {
    border-right-color: rgba(0, 0, 0, 0.23);
    border-width: 11px;
    margin-left: 1px;
    margin-top: -9px;
  }
}

.cap-hint .hintText.left {
  right: 150%;
  left: inherit;

  &:before,
  &:after {
    left: 100%;
    transform: rotate(180deg);
  }
}

.showHint {
  display: block !important;
}