<div class="cap-grid-default">
  <div *ngIf="pagedItens.length > 0" class="cap-grid-content">
    <table id="cap-cap-grid-default" class="table cap-grid-responsive" role="tablist" aria-multiselectable="true">
      <thead>
        <tr>      
          <th *ngFor="let c of columns" class="cap-grid-header">{{c}}</th>
          <th *ngIf="rowOptions" class="cap-grid-header"></th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let v of pagedItens;  let i = index">
          <td *ngFor="let c of columns;  let j = index">{{v[j]}}</td>
          <td *ngIf="rowOptions" class="cap-grid-row-options">
            <img [src]="moreOptionsImg" (click)="clickItem(i)" class="cap-grid-options">
            <div *ngIf="showItemOptions === i" class="row-options">
              <ul>
                <li *ngFor="let opt of rowOptions" class="cap-grid-item-option" (click)="clickItemOption(opt, i)">{{opt}}</li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="cap-grid-pagination">
      <img class="pag-prev" [src]="previousImg" (click)="prevPage()" *ngIf="currentPage > 1">
      {{labelPaginas}}
      <img class="pag-next" [src]="nextImg" (click)="nextPage()" *ngIf="currentPage < totalPages">
    </div>
  </div>
</div>