.cap-grid-default {
    margin: 5px 25px 0px 25px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.cap-grid-header{
    font-family: 'Ubuntu';
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    background-color: #E4E4E4;
    color: #4A4A4A;
    height: 40px;
}

.cap-grid-content{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cap-grid-content > table > tbody > tr > td {
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 10px 15px 10px;
    font-size: 12px;
}

.cap-grid-content > table > tbody > tr:nth-of-type(even) {
    background-color: #E4E3DF;
}

.cap-grid-pagination{
    margin-top: 0px;
    margin-bottom: 0px;
}

.cap-grid-pagination .pag-next
{
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    cursor: pointer !important;
    /* background-color: $cor-padrao-8; */
    border-radius: 8px;
}

.cap-grid-pagination .pag-prev
{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    cursor: pointer !important;
    /* background-color: $cor-padrao-8; */
    border-radius: 8px;
}

.cap-grid-options {
    cursor: pointer !important;
    right: auto;
    height: 15px;
    width: 15px;
    border: 0.5px solid;
    border-radius: 3px;
    margin-left: -8px;
}

.cap-grid-item-option {
    cursor: pointer !important;
    padding: 10px 1px 1px 15px;
    text-align: left;
}

.cap-grid-item-option img {
    position: relative;
}

.cap-grid-item-option:hover {
    background-color: #E4E3DF;
}

.cap-grid-row-options {
    text-align: center
}

.row-options {
    width: 100px;
    margin-top: 15px;
    position: absolute;
    background-color: white;
    z-index: 3;
    margin-left: -2%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

/* // Tabelas */

table {
    background-color: white;
    border: 1px solid;
    border-color: rgba(117, 117, 117, 0.1);
  }
  
  tbody tr:nth-child(even) {
    background: rgba(117, 117, 117, 0.1);
  }
  
  .table-header {
    height: 45px;
    background-color: rgba(74, 74, 74, 0.2);
  }
  
  th,
  td {
    vertical-align: middle !important;
    border: 1px solid;
    border-color: rgba(117, 117, 117, 0.1);
    text-transform: capitalize;
  }
  
  th {
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #000000;
    border-bottom-color: inherit;
  }
  
  th span {
    font-family: Ubuntu;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    position: relative;
    left: 3px;
  }

  
  .filtros {
    border-bottom-color: #979797;
  
    th {
      padding: 0;
    }
  
    select {
      appearance: none;
      border: none;
      height: 36px;
      width: 100%;
      background: right no-repeat url("../../assets/img/seta-baixo.svg");
  
      * {
        border-bottom: 1px solid #979797;
      }
    }
  }
    
  thead tr th {
    padding: 0;
    padding-left: 8px;
  }