<div class="cap-grid-default box">
  <div *ngIf="pagedItens.length > 0" class="cap-grid-content">
    <table id="table" class="table table-responsive" role="tablist" aria-multiselectable="true">
      <thead>
        <tr class="table-header">      
          <th *ngFor="let c of columns" class="cap-grid-header tools">{{c}}</th>
          <th *ngIf="rowOptions" class="cap-grid-header"></th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let v of pagedItens;  let i = index">
          <td *ngFor="let c of columns;  let j = index">{{v[j]}}</td>
          <td *ngIf="rowOptions" class="cap-grid-row-options">
            <img src="../../assets/img/mais-op-es-vert.svg" (click)="clickItem(i)" class="cap-grid-options">
            <div *ngIf="showItemOptions === i" class="row-options">
              <ul>
                <li *ngFor="let opt of rowOptions" class="cap-grid-item-option" (click)="clickItemOption(opt, i)">{{opt}}</li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
        <button class="link prev" (click)="prevPage()" [disabled]="(currentPage === 1)" [ngClass]="{ 'disabled': currentPage === 1 }">
          <i class="fa fa-angle-left"></i>
        </button>
        <!-- <img class="pag-prev" src="../../../assets/img/anterior.svg" (click)="prevPage()" *ngIf="currentPage > 1"> -->
        
        <span>{{labelPaginas}}</span>
        
        <button class="link next" (click)="nextPage(true)" [disabled]="(currentPage < totalPages)" [ngClass]="{ 'disabled': (currentPage < totalPages) }">
            <i class="fa fa-angle-right"></i>
        </button>
        <!-- <img class="pag-next" src="../../../assets/img/seguir.svg" (click)="nextPage()" *ngIf="currentPage < totalPages"> -->
    </div>

  </div>
</div>