<label class="label-input {{styleClass}}" *ngIf="label?.length" [class.disabled]="disabled"> {{label}}</label>
<cap-button class="button-hoje" label="Hoje" *ngIf="dataBusca !== undefined && hoje !== diaBuscado" (click)="goToToday()"></cap-button>
<my-date-picker class="{{styleClass}}" [class.buttonDatepicker]="buttonDatepicker" name="mydate" [placeholder]="placeholder" [class.disabled]="disabled" [options]="myDatePickerOptions" #picker [(ngModel)]="value"></my-date-picker>

<p *ngIf="textHelper?.length" class="helper-text {{styleClass}}" [class.disabled]="disabled">{{textHelper}}</p>