// .button_datepicker::ng-deep {
//   & .mydp {
//     & .selectorarrowleft:before {
//       right: 15px;
//     }

//     & .selectiongroup {
//       width: 45px;
//       height: 45px;
//       background-color: rgb(197, 150, 9);
//       color: white;
//       cursor: pointer;
//       border: none !important;
//       box-shadow: 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0.5px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);

//       & .mydpicon {
//         color: white;
//         padding-left: 18px;
//         font-size: 24px !important;
//       }
//     }

//     & .selection {
//       background-color: rgb(197, 150, 9);
//     }

//     & input {
//       display: none;
//     }

//     & .selector {
//       margin-left: -252px !important;
//     }
//   }
// }

// Cap-button-datepicker
:host ::ng-deep .buttonDatepicker {
  .mydp {
    width: inherit !important;
    top: -13px;
    margin-left: -4px;

    .selectorarrowleft:before {
      right: 15px;
    }

    .selectiongroup {
      width: 40px;
      background-color: rgb(197, 150, 9) !important;
      color: white;
      cursor: pointer;
      border: none !important;
      box-shadow: 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0.5px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      border-radius: 5px !important;

      .btnpicker {
        width: 40px;
      }

      .mydpicon {
        color: white;
        font-size: 24px !important;
      }
    }

    .selbtngroup{
      height: 40px !important;
    }

    .selbtngroup .mydpicon {
      right: 0;
    }

    .selection {
      background-color: rgb(197, 150, 9);
    }


    .selectiongroup .btnclear,
    input {
      display: none;
    }

    .selector {
      margin-left: -252px !important;
    }
  }
}

.semBorderRadius .mydp .selectiongroup {
  border-radius: 0 5px 5px 0px !important;
}

cap-button.button-hoje::ng-deep .cap-button{
  width: 85px;
  height: 40px !important;
  padding: 0 !important;
  top: -28px;
  border-radius: 5px 0 0 5px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.5) !important;
}
