.cap-card {
  display: block;
  width: 400px;
  background-color: #ffffff;
  padding: 15px 15px 15px 60px;
  border-radius: 5px;
  box-shadow: 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0.5px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.cap-card.lg {
  width: 500px;
}

.cap-card.md {
  width: 300px;
}

.cap-card.sm {
  width: 200px;
}

.cap-card span {
  font-size: 14px;
  letter-spacing: 0.2px;
}
