@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,700";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700";

/** GERAL **/
* {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body,
html {
  height: 100%;
  min-height: 100%;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Ubuntu;
}

#wrapper {
  background: #f1f1f1;
  height: auto;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.content-wrapper {
  min-height: 100%;
  z-index: 800;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 225px;
  z-index: 820;
}

body.minimizado .content-wrapper {
  margin-left: 0px !important;
  z-index: 840;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-header {
  position: relative;
  padding: 5px 10px 10px 15px;
  height: auto;
  margin-top: -20px;
}

.box {
  position: relative;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  padding: 15px 15px 15px 15px;
}
.navbar {
  background-color: #fff;
  z-index: 1;
  max-height: 70px;
  height: 70px;
}

h1 {
  font-family: "Ubuntu";
  font-size: 28px;
  letter-spacing: 0.2px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: Ubuntu;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
}

h3 {
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
}

.subtitle-1-brcap {
  font-family: Ubuntu;
  font-size: 17px;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.87);
}

.subtitle-2-brcap {
  font-family: Ubuntu;
  font-size: 17px;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.5);
}

.caption-brcap {
  font-family: Ubuntu;
  font-size: 13px;
  letter-spacing: 0.2px;
}

.sm-btn-caption-brcap {
  font-family: Ubuntu;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-transform: uppercase;
}

.chips-caption-brcap {
  font-family: Ubuntu;
  font-size: 9px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 600;
}

.icon-select {
  font-size: 26px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.container-header {
  padding: 50px;
  margin-top: -20px;
}

.cap-inputText,
.dp-input-container input {
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #757575 !important;
  height: 50px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff !important;
  width: 100% !important;
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}

.cap-inputText.outline {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54) !important;
  background: transparent !important;
  border-radius: 0px;
  padding: 20px 10px 10px 13px;
}

cap-inputText[ng-reflect-style-class="outline"] label {
  background: transparent !important;
}

.cap-inputText.sm {
  height: 40px;
}

label {
  background-color: #fff;
  max-width: 92%;
  font-weight: bold;
  font-family: Ubuntu;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: 13px;
  left: 8px;
  padding: 0px 3px;
  max-height: 24px;
  vertical-align: middle;
  z-index: 3;
}

label.error,
.helper-text.error {
  color: #b00020;
}

.cap-inputText.error {
  border-color: #b00020;
  border-width: 2px;
}

.content-header .cap-inputText.error {
  border: 1.5px solid #b00020;
}

.helper-text {
  font-size: 11px;
  font-family: Ubuntu;
  letter-spacing: 0.2px;
  font-weight: 500;
  padding-left: 12px;
  padding-top: 3px;
  position: relative;
  top: 0px;
  left: 0px;
}

.ico-error {
  float: right;
  position: relative;
  top: -35px;
  right: 14px;
  font-size: 20px;
  color: #b00020;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input:disabled::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input:disabled:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input:disabled::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input:disabled:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.content-header .cap-inputText {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54) !important;
  border-radius: 0px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  padding-top: 20px !important;
}

.content-header .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  top: 7px;
}

.content-header .bootstrap-select > .dropdown-toggle {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 0px;
}

.content-header label {
  background: transparent;
  top: 22px !important;
  left: 9px !important;
}

.icon-calendar {
  float: right;
  position: relative;
  top: -35px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.content-header .icon-calendar {
  top: -35px;
}

.cap-inputText.sm {
  height: 40px;
}

.cap-inputText:disabled {
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  color: #888;
}

.cap-inputText.error {
  border: 1.5px solid #b00020;
}

.cap-inputText:focus {
  box-shadow: none;
  border-color: none;
}
p.label-text {
  margin: 10px 0px;
}
p.label-text label {
  background-color: transparent;
  top: 0;
  left: 0;
  display: inline;
  font-size: 14px;
  padding: 0;
}

p.label-text span {
  font-size: 14px;
  display: inline;
  position: relative;
  top: 1px;
}

label.disabled {
  color: rgba(0, 0, 0, 0.5);
}

.helper-text.disabled {
  color: rgba(0, 0, 0, 0.5);
}

.ico-error {
  float: right;
  position: relative;
  top: -35px;
  right: 14px;
  font-size: 20px;
  color: #b00020;
}

/* !
* BRCap Icones
* @author Felipe Sousa
* @description Icones no padrao brasilcap
*
*/
@font-face {
  font-family: "brcap-ico";
  src: url("../fonts/darwin-icons/darwin-icons.ttf?mmqvqv") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.brcap-ico {
  font-family: "brcap-ico" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu:before {
  content: "\e900";
}
.voltar:before {
  content: "\e901";
}
.adicionar:before {
  content: "\e902";
}
.alerta:before {
  content: "\e903";
}
.arquivo:before {
  content: "\e904";
}
.busca:before {
  content: "\e905";
}
.calendario:before {
  content: "\e906";
}
.check-circulo:before {
  content: "\e907";
}
.compartilhar:before {
  content: "\e908";
}
.esconder-senha:before {
  content: "\e909";
}
.seguir:before {
  content: "\e910";
}
.anterior:before {
  content: "\e911";
}
.seta-cimabaixo:before {
  content: "\e912";
}
.usuario:before {
  content: "\e913";
}
.x-circulo:before {
  content: "\e914";
}
.ver-senha:before {
  content: "\e916";
}

.retrair:before {
  content: "\e918";
}
.expandir:before {
  content: "\e90a";
}
.favorito:before {
  content: "\e90b";
}
.info:before {
  content: "\e90c";
}
.mais-opcoes:before {
  content: "\e90d";
}
.menos:before {
  content: "\e90e";
}
.sair:before {
  content: "\e90f";
}
.adiantar10:before {
  content: "\e919";
}
.pausar:before {
  content: "\e91a";
}
.tocar:before {
  content: "\e91b";
}
.voltar10:before {
  content: "\e91c";
}

.volumeoff:before {
  content: "\e91d";
}
.volumeon:before {
  content: "\e91e";
}
.codigo:before {
  content: "\e91f";
}
.editar:before {
  content: "\e920";
}

.x:before {
  content: "\78";
}
.cap-button .brcap-ico {
  position: relative;
  left: -10px;
}
cap-button .xs i.brcap-ico {
  left: -6px !important;
  top: 2px !important;
}

/*
 * dragtable
 *
 * @Version 2.0.14
 *
 * default css
 *
 */
/*##### the dragtable stuff #####*/
.dragtable-sortable {
  font-family: Ubuntu;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
}
.dragtable-sortable li {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1em;
  background: white;
}

.dragtable-sortable th,
.dragtable-sortable td {
  border-left: 0px;
  font-weight: 500;
}

.dragtable-sortable li:first-child th,
.dragtable-sortable li:first-child td {
  border-left: 1px solid #ccc;
}

.ui-sortable-helper {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.ui-sortable-placeholder {
  -moz-box-shadow: 4px 5px 4px #c6c6c6 inset;
  -webkit-box-shadow: 4px 5px 4px #c6c6c6 inset;
  box-shadow: 4px 5px 4px #c6c6c6 inset;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  visibility: visible !important;
  background: #efefef !important;
  visibility: visible !important;
}
.ui-sortable-placeholder * {
  opacity: 0;
  visibility: hidden;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 5px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #7d7d7d;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -11px;
}
.hamburger-inner::after {
  bottom: -11px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx-r .hamburger-inner::before,
.hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg);
}
.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy .hamburger-inner::before,
.hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg);
}
.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dy-r .hamburger-inner::before,
.hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg);
}
.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dxy .hamburger-inner::before,
.hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg);
}
.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DXY Reverse
   */
.hamburger--3dxy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dxy-r .hamburger-inner::before,
.hamburger--3dxy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
}
.hamburger--3dxy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dxy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
 * Arrow Turn
 */
.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}
.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}
.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
 * Arrow Turn Right
 */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  transform: rotate(-180deg);
}
.hamburger--arrowturn-r.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}
.hamburger--arrowturn-r.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Boring
   */
.hamburger--boring .hamburger-inner,
.hamburger--boring .hamburger-inner::before,
.hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}
.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden;
}
.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden;
}
.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}
.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before,
.hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear;
}

.hamburger--minus.is-active .hamburger-inner::before,
.hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear;
}

.hamburger--minus.is-active .hamburger-inner::before {
  top: 0;
}

.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}
.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}
.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}
.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent;
}
.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}
.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}
.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}
.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}
.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}
.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}
.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r .hamburger-inner::before,
.hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex-r.is-active .hamburger-inner::before,
.hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

ng-select > div {
  border-radius: 4px;
  border: 1px solid #757575 !important;
  outline: none;
}

.content-header ng-select > div {
  border: none !important;
  border-bottom: 1px solid #757575 !important;
  border-radius: 0px;
}

.content-header ng-select > div > div.single > div.value,
.content-header ng-select > div > div.single > div.placeholder {
  padding-top: 8px !important;
}

select-dropdown > div.below {
  z-index: 4;
}

ng-select > div > div.single > div.value,
ng-select > div > div.single > div.placeholder {
  line-height: 50px !important;
}
ng-select > div > div.single {
  height: 50px !important;
}
select-dropdown > div {
  font-family: Ubuntu;
  font-size: 14px;
}
select-dropdown > div .filter input {
  height: 50px;
  padding: 10px 10px !important;
  outline: none;
}

ng-select > div > div.single > div.clear,
ng-select > div > div.single > div.toggle {
  line-height: 50px !important;
  color: #000 !important;
  overflow: hidden;
}

ng-select > div > div.single > div.toggle:hover {
  background-color: transparent !important;
}

select-dropdown > div .options ul li {
  padding: 10px !important;
  border-top: 1px solid #f1f1f1;
}

.form-control:focus {
  outline: none !important;
  border-color: unset !important;
  box-shadow: none !important;
}

.mydp .selection {
  height: 50px !important;
  border: 1px solid #757575 !important;
  font-family: Ubuntu;
  padding-left: 10px !important;
}

.mydp .nextmonth,
.mydp .prevmonth {
  color: #777 !important;
}

.mydp .invaliddate {
  background: transparent !important;
}

.mydrp .invaliddaterange {
  background: transparent !important;
}

.selbtngroup .mydpicon {
  font-family: "brcap-ico" !important;
  font-size: 20px !important;
  position: relative;
  right: 8px;
}

.mydp .mydpicon.icon-mydpcalendar:before {
  content: "\e906" !important;
}

.mydp .mydpicon.icon-mydpremove:before {
  content: "\78" !important;
}

.mydp .btnclear,
.mydp .btndecrease,
.mydp .btnincrease,
.mydp .btnpicker,
.mydp .headertodaybtn {
  background-color: transparent !important;
}

.mydp .daycell {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mydp .daycell .datevalue span,
.yearvalue {
  font-family: Ubuntu !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}
.mydp .weekdaytitle {
  background-color: #fff !important;
  font-size: 10px !important;
  padding: 15px 0px !important;
  color: #000 !important;
  font-weight: 600 !important;
  letter-spacing: 0.2px;
}

.mydp .caltable,
.mydp .monthtable,
.mydp .yeartable {
  width: 80% !important;
  height: calc(100% - 50px) !important;
  background-color: #fff !important;
  font-size: 12px !important;
  position: relative;
  left: 28px;
}

.mydp .selectedday .datevalue,
.mydp .selectedmonth .monthvalue,
.mydp .selectedyear .yearvalue {
  background-color: #ddd !important;
  border-radius: 4px !important;
  padding: 4px !important;
  font-family: Ubuntu;
  font-weight: 400;
}

.monthvalue {
  font-family: Ubuntu !important;
  font-weight: 500 !important;
  color: #000;
  font-size: 13px;
  text-decoration: none !important;
}

.mydp {
  border: none !important;
}

.mydp .daycell .datevalue:hover {
  background-color: #dfdfdf;
}
.mydp .daycell .datevalue {
  padding: 8px 1px !important;
  border-radius: 4px !important;
}
.mydp .selectorarrow,
.mydp .headerbtn,
.mydp .headerlabelbtn,
.mydp .yearchangebtn,
.mydp .headerbtncell,
.mydp .yearchangebtncell,
.mydp .header,
.mydp .yearcell,
.mydp .monthcell {
  background-color: #fff !important;
  box-shadow: none !important;
}
.mydp .daycell,
.mydp .inputnoteditable,
.mydp .monthcell,
.mydp .monthlabel,
.mydp .yearcell,
.mydp .yearlabel {
  font-family: Ubuntu;
  font-weight: 500;
}

.content-header .mydp .selection {
  border: none !important;
  border-bottom: 1px solid #757575 !important;
  border-radius: 0px;
  padding-top: 10px;
}

/** INICIO **/

.mydrp {
  width: 100% !important;
}

.mydrp .titleareatxt {
  font-family: Ubuntu;
}

.mydrp .header {
  height: 0px !important;
}

.mydrp .selection {
  height: 50px !important;
  border: 1px solid #757575 !important;
  font-family: Ubuntu;
  padding-left: 10px !important;
}

.mydrp .nextmonth,
.mydrp .prevmonth {
  color: #777 !important;
}

.mydrp .invaliddate {
  background: transparent !important;
}

.selbtngroup .mydrpicon {
  font-family: "brcap-ico" !important;
  font-size: 20px !important;
  position: relative;
  right: 8px;
}

.mydrp .mydrpicon.icon-mydrpcalendar:before {
  content: "\e906" !important;
}

.mydrp .mydrpicon.icon-mydrpremove:before {
  content: "\78" !important;
}

.mydrp .btnclear,
.mydrp .btndecrease,
.mydrp .btnincrease,
.mydrp .btnpicker,
.mydrp .headertodaybtn {
  background-color: transparent !important;
}

.mydrp .daycell {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.mydrp .daycell .datevalue span,
.yearvalue {
  font-family: Ubuntu !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}
.mydrp .weekdaytitle {
  background-color: #fff !important;
  font-size: 10px !important;
  padding: 13px 0px !important;
  color: #000 !important;
  font-weight: 600 !important;
  letter-spacing: 0.2px;
}

.mydrp .range {
  background-color: #d9f2e6 !important;
}

.mydrp .caltable,
.mydrp .monthtable,
.mydrp .yeartable {
  width: 80% !important;
  height: calc(100% - 50px) !important;
  background-color: #fff !important;
  font-size: 12px !important;
  position: relative;
  left: 28px;
}

.mydrp .selectedday .datevalue,
.mydrp .selectedmonth .monthvalue,
.mydrp .selectedyear .yearvalue {
  background-color: #ddd !important;
  border-radius: 4px !important;
  padding: 4px !important;
  font-family: Ubuntu;
  font-weight: 400;
}

.monthvalue {
  font-family: Ubuntu !important;
  font-weight: 500 !important;
  color: #000;
  font-size: 13px;
  text-decoration: none !important;
}

.mydrp {
  border: none !important;
}

.mydrp .daycell .datevalue:hover {
  background-color: #dfdfdf;
}
.mydrp .daycell .datevalue {
  padding: 8px 1px !important;
  border-radius: 4px !important;
}
.mydrp .selectorarrow,
.mydrp .headerbtn,
.mydrp .headerlabelbtn,
.mydrp .yearchangebtn,
.mydrp .headerbtncell,
.mydrp .yearchangebtncell,
.mydrp .header,
.mydrp .yearcell,
.mydrp .monthcell {
  background-color: #fff !important;
  box-shadow: none !important;
}
.mydrp .daycell,
.mydrp .inputnoteditable,
.mydrp .monthcell,
.mydrp .monthlabel,
.mydrp .yearcell,
.mydrp .yearlabel {
  font-family: Ubuntu;
  font-weight: 500;
}

.mydrp .selectiongroup {
  background: transparent !important;
}

.content-header .mydrp .selection {
  border: none !important;
  border-bottom: 1px solid #757575 !important;
  border-radius: 0px;
  padding-top: 10px;
}

ng-select > div > div.single > div.toggle {
  font-family: "brcap-ico";
}

ng-select > div.disabled > div.single > div.toggle {
  color: #ddd !important;
}

ng-select > div > div.single > div.toggle:before {
  content: "\e90a";
  font-size: 28px;
}

ng-select > div.open > div.single > div.toggle:before {
  content: "\e918";
  font-size: 28px;
}
select-dropdown > div.above {
  z-index: 3;
}

div.inline-checkbox {
  display: inline-flex;
}

div.inline-checkbox label {
  padding-right: 1em !important;
  white-space: nowrap !important;
}

.toogle i.expandir,
.toogle i.retrair {
  font-size: 24px;
  position: relative;
  top: 4px;
  padding: 10px 5px 10px 0px;
}

dp-date-picker {
  display: block !important;
}

dp-date-picker input {
  padding-left: 12px;
}

dp-date-picker .dp-current-location-btn {
  display: none;
}

.dp-calendar-nav-container {
  height: 40px !important;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
}
.dp-calendar-wrapper {
  border: none !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

.dp-calendar-month {
  width: 35px !important;
  height: 35px !important;
  margin: 10px 15px;
  border: none;
  font-size: 12px !important;
  text-transform: uppercase !important;
}
.dp-calendar-month:hover {
  background: #f2f2f2;
  border-radius: 50%;
}

.dp-calendar-nav-left,
.dp-calendar-nav-right {
  border: none !important;
}

.dp-calendar-month.dp-selected {
  border-radius: 50%;
}

.content-header .dp-input-container input {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.54) !important;
  border-radius: 0px !important;
  color: rgba(0, 0, 0, 0.87) !important;
  padding-top: 20px !important;
}

#toast-container {
  position: absolute;
  right: 20px;
  top: 20px;
}
.toast {
  border: 2px solid;
  border-left: 10px solid;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  padding: 20px 20px 20px 15px;
  background: #fff;
  border-radius: 5px;
  min-width: 300px;
}

.toast.toast-warning {
  border-color: #ffb72a;
}
.toast.toast-info {
  border-color: rgba(0, 0, 0, 0.54);
}
.toast.toast-error {
  border-color: #b00020;
}
.toast.toast-success {
  border-color: #086930;
}

.toast-close-button {
  display: block;
  float: right;
  background: transparent;
  border: none;
  outline: none;
}

button.cap-button.btn-ico .brcap-ico {
  left: 0px !important;
}

button.cap-button.sm.btn-ico .brcap-ico {
  font-size: 15px
}
