@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconmoon/icomoon.eot?mmqvqv");
  src: url("../fonts/iconmoon/icomoon.eot?mmqvqv#iefix") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf?mmqvqv") format("truetype"), url("../fonts/iconmoon/icomoon.woff?mmqvqv") format("woff"),
    url("../fonts/iconmoon/icomoon.svg?mmqvqv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-user:before {
  content: "\e971";
}
