<div class="cap-menu" #divMenu  id="ex4">
  <div class="simplebar-scroll-content">

    <div class="simplebar-track vertical">
      <div class="simplebar-scrollbar">
      </div>
    </div>

    <div class="width-230" *ngFor="let modulo of value">
      <cap-menuItem [value]="modulo" [blocSelecionado]="blocSelecionado" [exibir]="exibir" [itemSelecionado]="itemSelecionado"
      (selecionar)="selecionarItem($event)"
        principal="true" styleClass="principal"></cap-menuItem>
    </div>
    
  </div>
</div>
