button {
  position: relative;
  overflow: hidden;

  &:hover{
    opacity: 0.8;
  }

  &:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.15);
    opacity: 1;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0.16);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
  }

  &.cap-button {
    border: none;
    text-transform: uppercase;
    padding: 0px 25px;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1.2px;
    box-shadow: 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0.5px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);

    &:focus,
    &:active {
      outline: none;
    }

    &[disabled] {
      opacity: 0.38;

      &:hover:after {
        opacity: 0;
      }
    }

    &:focus:not(:active)::after {
      animation: ripple 1s ease-out;
    }

    i {
      position: relative;
      left: -5px;
      font-weight: 500;
      float: left;
      top: 3px;
      padding-right: 7px;
    }

    //styleClass
    &.sm {
      height: 24px;
      padding: 0px 15px;
      font-size: 10px;
      letter-spacing: 0px;

      cap-icon::ng-deep .brcap-ico {
        font-size: 13px !important;
        left: -5px !important;
      }

      &.btn-ico {
        padding: 0px 12px;
        width: 30px;
        height: 30px;
      }
    }

    &.lg {
      height: 50px;
      padding: 0px 25px;
      letter-spacing: 0.2px;

      &.btn-ico {
        padding: 0px 13px;
        width: 50px;

        cap-icon::ng-deep .brcap-ico {
          font-size: 24px !important;
        }
      }
    }

    &.outline {
      background-color: rgba(98, 2, 238, 0);
      border: solid 1px rgba(0, 0, 0, 0.12);
      box-shadow: none;
      color: rgba(0, 0, 0, 0.87);

      &:hover {
        background-color: #006bbb;
        transition: 0.4s all ease-in-out;
        color: white;
      }
    }

    &.white {
      background-color: #fafafa;
      color: rgba(0, 0, 0, 0.87);
      box-shadow: 0 0.5px 2.5px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0.5px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);

      i:hover {
        color: rgba(0, 0, 0, 0.87);
      }

      &:hover,
      &:active {
        color: rgba(0, 0, 0, 0.54);
      }

      &:hover {
        background-color: #f7f7f7;
      }

      &:active {
        background-color: #f2f2f2;
      }
    }

    &.nova-pesquisa {
      margin-top: -3px !important;
      float: right;
    }

    &.fechar {
      width: 24px;
      height: 24px;
      padding: 0;
      background: none;
      box-shadow: none;

      cap-icon::ng-deep .brcap-ico {
        left: 0;
      }
    }

    &.btn-ico {
      padding: 0px 10px;
      width: 40px;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  20% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}