.menuFixo {
  position: fixed;
  top: 0px;
  background-color: #ccf;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
  height: 45px;
}

.link:hover,
.link:active,
.link:visited,
.link:focus {
  text-decoration: none !important;
}

ul.list {
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}


ul.list li .menu-item {
  min-height: 40px;
  height: auto;
  line-height: 16px;
}

ul.list li .menu-item .label-menu {
  position: relative;
  left: 30px;
  word-break: break-word;
  width: 155px;
  display: block;
}

ul.list li {
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

ul.list li:hover {
  border-top: 2px solid rgba(255, 204, 0, 0);
  border-bottom: 2px solid rgba(255, 204, 0, 0.5);
  background-color: rgba(255, 204, 0, 0.005);
  /* #ffcc00;  //Monitor */
}

.fechado {
  max-height: 0px;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  /* position: relative;
  cursor: pointer; */
  /* display: inline-block; */
  /* overflow: hidden; */
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1; */
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.abrir {
  max-height: 900px;
  transition: max-height 1s ease-in-out;
}

.hide {
  display: none;
}

.label-menu {
  border-top: 2px solid rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Ubuntu";
  outline: none;
  text-decoration: none;
  letter-spacing: 0.1px;
  position: relative;
  left: 2px;
}

.label-menu.sub {
  padding-left: 40px;
}

.label-only {
  left: 31px;
}

.img-icone {
  width: 26px;
  position: relative;
  top: -3px;
}

.menuActive {
  background-color: rgba(255, 204, 0, 0.1);
}

.menuActive .label-menu {
  color: rgb(255, 255, 255);
}

.sub-item {
  position: relative;
}

.ativado {
  height: inherit;
}

.ativado:after {
  top: -2px;
  width: 8px;
  content: "";
  background-color: #ffe800;
  position: absolute;
  right: 0;
  bottom: -2px;
}

.h7{
  font-size: 9px;
}

/* .rotate::ng-deep .brcap-ico{
  padding-top: 3px;
  transition-delay: 0.3s;
  transition: 0.3s;
}

.rotate::ng-deep .brcap-ico:before{
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 0.3s;
}

.rotate-2::ng-deep .brcap-ico:before{
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: 0.3s;
} */
