<span *ngIf="value.link">
  <a class="link" [href]="value.link">
    <div class="menu-item {{exibir ? 'active' : ''}}" #menuItem (mouseover)="changeStyle($event, menuItem)" (mouseout)="changeStyle($event)" (click)="toggleClass(value?.items)">
      <cap-icon [icon]="value.icon" styleClass="icon-menu"></cap-icon>
      <span class="label-menu {{value.sub ? 'sub' : ''}} ">{{value.label}}</span>
      <cap-icon icon="ion-ios-arrow-down animated bounceIn" *ngIf="value?.items && !exibir" styleClass="icon-arrow"></cap-icon>
      <cap-icon icon="ion-ios-arrow-up animated bounceIn" *ngIf="value?.items && exibir" styleClass="icon-arrow"></cap-icon>
    </div>
  </a>
  <ul *ngIf="value.items && exibir" [@fadeInOut] class="list">
    <li *ngFor="let item of value.items">
      <cap-menuItem [value]="item" principal="true" *ngIf="item.items" [colors]="colors"></cap-menuItem>
      <cap-menuItem [value]="item" principal="false" *ngIf="!item.items" [colors]="colors"></cap-menuItem>
    </li>
  </ul>
</span>

<span *ngIf="!value.link">
  <div class="menu-item {{exibir ? 'active' : ''}}" #menuItem (mouseover)="changeStyle($event, menuItem)" (mouseout)="changeStyle($event)" (click)="toggleClass(value?.items)">
    <cap-icon [icon]="value.icon" styleClass="icon-menu"></cap-icon>
    <span class="label-menu {{value.sub ? 'sub' : ''}}">{{value.label}}</span>
    <cap-icon icon="ion-ios-arrow-down animated bounceIn" *ngIf="value?.items && !exibir" styleClass="icon-arrow"></cap-icon>
    <cap-icon icon="ion-ios-arrow-up animated bounceIn" *ngIf="value?.items && exibir" styleClass="icon-arrow"></cap-icon>
  </div>
  <ul *ngIf="value.items  && exibir" [@fadeInOut] class="list">
    <li *ngFor="let item of value.items">
      <cap-menuItem [value]="item" principal="true" *ngIf="item.items" [colors]="colors"></cap-menuItem>
      <cap-menuItem [value]="item" principal="false" *ngIf="!item.items" [colors]="colors"></cap-menuItem>
    </li>
  </ul>
</span>
