.menu-item {
  padding: 10px;
  cursor: pointer;
  height: 45px;
  /* margin-bottom: 10px; */
  /* line-height: 14px; */
}

.menu-item:hover {
  /* opacity: 0.9; */
  background-color: rgba(255, 255, 255, 0.1);
}

/* .menu-item:focus {
  opacity: 40.0;
} */

.link:hover,
.link:active,
.link:visited,
.link:focus {
  text-decoration: none !important;
}

ul.list {
  margin-bottom: 0px;
  list-style: none;
  padding-left: 0px;
  background-color: rgba(0,0,0,0.2);
}

ul.list li .menu-item {
  min-height: 40px;
  height: auto;
  line-height: 16px;
}

ul.list li .menu-item .label-menu {
  position: relative;
  left: 30px;
  word-break: break-word;
  width: 155px;
  display: block;
}

ul.list li {
  border-top: 2px solid rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0,0,0,0);
}

ul.list li:hover {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.03);
}

.ativado {
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.0); */
  border-right: 6px solid rgba(255, 255, 255, 0.5);
}

.hide {
  display: none;
}

.label-menu {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Ubuntu";
  outline: none;
  text-decoration: none;
  letter-spacing: 0.1px;
  position: relative;
  left: 2px;
}

.label-menu.sub {
  padding-left: 40px;
}

.label-only {
  left: 31px;
}

.img-icone {
  width: 26px;
  position: relative;
  top: -3px;
}
