<div *ngIf="value.ativo">

  <span *ngIf="value.rota">
    <a class="link" [href]="value.rota">
      <div class="menu-item" #menuItem (click)="toggleClass(value?.funcionalidades)" >

        <span class="label-menu " [class.visible]="value.visible ">{{value.nome}}</span>
        <cap-icon icon="expandir animated bounceIn" *ngIf="value?.funcionalidades && codigoTrat !== blocSelecionado " styleClass="icon-arrow "></cap-icon>
        <cap-icon icon="retrair animated bounceIn" *ngIf="value?.funcionalidades && codigoTrat === blocSelecionado " styleClass="icon-arrow "></cap-icon>

      </div>
    </a>
    <ul *ngIf="(value.funcionalidades && codigoTrat === blocSelecionado) && exibir" >
      <li *ngFor="let item of value.funcionalidades" (click)="select(item)" [ngClass]="itemSelecionado == item.codigo ? subClass : '' ">
        <cap-menuItem [value]="item " principal="true " *ngIf="item.funcionalidades"></cap-menuItem>
        <cap-menuItem [value]="item " principal="false " *ngIf="!item.funcionalidades"></cap-menuItem>
      </li>
    </ul>
  </span>

  <span *ngIf="!value.rota">
    <div class="menu-item" [class.menuActive]="exibir" #menuItem (click)="toggleClass(value?.funcionalidades)" >

      <img *ngIf="value.icone" class="img-icone" [src]="getIconUrl(value.icone)">
      <span class="label-menu" [class.visible]="value.visible" [class.label-only]="!value.icone">{{value.nome}}</span>
      <cap-icon icon="expandir animated bounceIn" *ngIf="value?.funcionalidades && !exibir " styleClass="icon-arrow "></cap-icon>
      <cap-icon icon="retrair animated bounceIn" *ngIf="value?.funcionalidades && exibir " styleClass="icon-arrow "></cap-icon>

    </div>
    <ul class="list fechado" [class.abrir]="(value.funcionalidades && codigoTrat === blocSelecionado) && exibir ">
      <li *ngFor="let item of value.funcionalidades" (click)="select(item)" [ngClass]="itemSelecionado == item.codigo ? subClass : '' "
          class="sub-item" [class.subClass]="itemSelecionado == item.nome">
        <cap-menuItem [value]="item" principal="true" *ngIf="item.funcionalidades " ></cap-menuItem>
        <cap-menuItem [value]="item" principal="false" *ngIf="!item.funcionalidades "></cap-menuItem>
      </li>
    </ul>
  </span>

</div>
