<cap-menu [value]="menu" modulo="monitor"></cap-menu>
<cap-header username="Joaquim José Xavier"></cap-header>

<!-- <div class="content-wrapper"> -->

<!-- <div class="content-header mainHeader">
    <div class="row">
      <div class="col-sm-6 mainTitle">
        Processos de Cancelamento
      </div>
      <div class="col-sm mainTitle title2">
        <span *ngIf="dataBusca">{{dataBusca | date:'EEEE' | titlecase }}</span>
        <span *ngIf="!dataBusca">{{today | date:'EEEE' | titlecase }}</span>,
        <span *ngIf="dataBusca">{{dataBusca | date:'dd'}} de {{dataBusca | date:'MMMM' | titlecase }} de {{dataBusca |
          date:'yyyy'}}</span>
        <span *ngIf="!dataBusca">{{today | date:'dd'}} de {{today | date:'MMMM' | titlecase }} de {{today |
          date:'yyyy'}}</span>
      </div>
    </div>
  </div> -->


<!-- <div class="content"> -->
<!-- <div class="row">
      <div class="col-md-3">
        <cap-inputText label="Nome" icon="busca"></cap-inputText>
      </div>
      <div class="col-md-3">
        <cap-datepicker label="Data"></cap-datepicker>
      </div>
    </div>

    <div class="col-md-10 button-container">
      <cap-grid-pagination #gridPaginationComponent class="cap-card" [columns]="columns" [items]="items">
      </cap-grid-pagination>
    </div> -->


<!-- <br>
    <br> -->

<!-- <cap-permissoes [urlSistemas]="url" [urlUsuarios]="url" sistema="monitor"></cap-permissoes> -->
<div class="content-wrapper">
  <div class="content">
    <cap-grid-pagination #gridPaginationComponent [columns]="columns" [items]="items" [rowOptions]="rowOptions"
      (itemOptionClick)="itemOptionClick($event)">
    </cap-grid-pagination>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
