<cap-menu [value]="menu" modulo="monitor"></cap-menu>
<cap-header username="Joaquim José Xavier"></cap-header>
<!-- 
<div class="content-wrapper"> -->

<!-- <div class="content">

    <div class="row box">
      <div class="col-lg-3">
        <cap-inputText label="Nome" mask="99.999-999" [(ngModel)]="nome" textHelper="Nome deve possuir no mínimo 3 caracateres"
          maxlength="20" error="true" [disabled]="disabled">
        </cap-inputText>
      </div>

      <div class="col-lg-3">
        <cap-button icon="busca" [disabled]="true"></cap-button>
      </div>
    </div>

    <div class="col-lg-3">
        <cap-datepicker id="dataInicial" placeholder="Informe uma data" [(ngModel)]="data" textHelper="Informe uma data" mask="99/99/9999">
        </cap-datepicker>
      </div> -->

<!-- <cap-inputText [(ngModel)]="cpf" (keydown)="changeMask($event)" [mask]="mascara"></cap-inputText> -->

<!-- <input id="test">
 -->
<!-- <cap-scrollUp></cap-scrollUp> -->

<!-- <cap-button icon="calendario"></cap-button>  -->

<!-- <div class="box abas">
      <cap-tabPanel class="fix">
        <cap-tab title="INF.GERAIS" #listTab class="aba1">

        </cap-tab>
        <cap-tab title="CONVÊNIO RECEBIMENTO" #listTab>

        </cap-tab>
        <cap-tab title="VALORES COMERCIALIZAÇÃO" #listTab styleClass="aba3">

        </cap-tab>
        <cap-tab title="LIBERAÇÃO PGTO" #listTab>

        </cap-tab>
        <cap-tab title="RATEIO" #listTab>

        </cap-tab>
        <cap-tab title="CLIENTE DÁ SORTE" #listTab>

        </cap-tab>
      </cap-tabPanel>
    </div> -->

<!-- <div class="row">
      <div class="col-md-3">
        <cap-inputText label="Nome" icon="busca"></cap-inputText>
      </div>
      <div class="col-md-3">
        <cap-datepicker label="Data"></cap-datepicker>
      </div>
    </div> -->

<!-- <div class="col-md-10 button-container"> -->

<!-- <cap-grid-pagination #gridPaginationComponent class="cap-card" [columns]="columns" [items]="items">
    </cap-grid-pagination> -->
<!-- </div> -->

<!-- <div class="col-md-10 button-container">
      <cap-grid-pagination #gridPaginationComponent class="cap-card" [columns]="columns" [items]="items">
      </cap-grid-pagination>
    </div> -->

<!-- </div> -->
<!-- </div> -->

<!-- <cap-permissoes [urlSistemas]="url" [urlUsuarios]="url" sistema="monitor"></cap-permissoes> -->


<div class="content-wrapper">
  <div class="content">
    <div class="box col-lg-3" style="height: 500px;">
      <div class="col-md-12">
        <cap-button styleClass="xs" label="Atualizar"></cap-button>
        <br /><br />
      </div>
      <div class="col-md-12">
        <cap-button styleClass="sm" label="Atualizar"></cap-button>
        <br /><br />
      </div>
      <div class="col-md-12">
        <cap-button label="Atualizar"></cap-button>
        <br /><br />
      </div>
      <div class="col-md-12">
        <cap-button styleClass="btn-ico sm" icon="busca"></cap-button>
        <br /><br />
      </div>
      <div class="col-md-12">
        <cap-button styleClass="btn-ico" icon="busca"></cap-button>
        <br /><br />
      </div>
      <div class="col-md-12">
        <cap-button styleClass="outline" label="inserir"></cap-button>
        <br /><br />
      </div>
      <div class="col-md-12">
        <cap-button styleClass="white" label="inserir"></cap-button>
        <br /><br />
      </div>
    </div>
  </div>
</div>
