.body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}
.wrapper {
  height: 100%;
  margin: 50px;
}

.content-header {
  background-color: #ccc;
  z-index:1;
}

.produtos {
  width: 200px;
  height:200px;
  background-image: url(../assets/img/loading-produto.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-y: 8px;
}