.bootstrap-select {
  font-size: 14px;
  font-family: Ubuntu;
  font-weight: 500;
}

.bootstrap-select > .dropdown-toggle {
  height: 50px;
  border-color: #757575;
}

.bootstrap-select > .dropdown-toggle:hover,
.bootstrap-select > .dropdown-toggle:focus,
.bootstrap-select > .dropdown-toggle:active,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:active,
.open > .dropdown-toggle.btn-default:focus .open > .dropdown-toggle.btn-default,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: #fff !important;
  border-color: #757575;
  box-shadow: none;
}

.bootstrap-select > .dropdown-toggle .open:hover {
  background-color: #fff
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.bootstrap-select.form-control {
  height: 50px;
  position: relative;
  top: -23px;
}

.bootstrap-select.btn-group .dropdown-menu {
  outline: none !important;
}

.dropdown-menu > li > a:focus {
  background: #fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li:hover {
  background-color: #efefef;
}

.bootstrap-select.btn-group .dropdown-menu li {
  outline: none;
}

.bootstrap-select.btn-group .dropdown-menu li a {
  border-top: 1px solid #ddd;
  padding-left: 2px;
  height: 45px;
  padding-top: 14px;
  outline: none !important;
  margin-left: 11px;
}

.bootstrap-select.btn-group .dropdown-menu li:first-child a {
  border-top: none;
}
/*
.dropdown-menu.open {
  display: block !important;
} */

label {
  background-color: #fff;
  max-width: 93%;
  font-weight: bold;
  font-family: Ubuntu;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: -10px;
  left: 0px;
  padding: 0px 3px;
  z-index: 999;
  max-height: 24px;
  vertical-align: middle;
}

label.disabled {
  color: rgba(0, 0, 0, 0.5);
}

label.error {
  color: #b00020;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
  font-weight: 500;
}
