:host ::ng-deep ng-select.error select-dropdown .below {
  border: 1px solid #ccc !important;
}

:host ::ng-deep ng-select.sm {
  .below {
    height: 40px;
  }

  select-dropdown .below {
    height: inherit;

    .toggle {
      line-height: 40px !important;
    }
  }

}
