:host ::ng-deep ng-select.sm .below{
  height: 40px;
}

:host ::ng-deep ng-select.sm select-dropdown .below{
  height: inherit;
}

:host ::ng-deep ng-select.sm .below .toggle{
  line-height: 40px !important;
}

:host ::ng-deep ng-select.error select-dropdown .below{
  border: 1px solid #ccc !important;
}