ng-select {
  margin-bottom: 5px;
}

.styleMultiple {
  background-image: url("../../assets/svg/seta-baixo.svg");
  background-position: right;
  margin-right: 8px;
  background-size: 28px;
  background-repeat: no-repeat;
}

