<label [for]="id" class="label-input {{textError}} {{styleClass}}" [class.disabled]="disabled" *ngIf="label?.length">
  {{label}}</label>


<textarea [id]="id" #input (focus)="onFocus($event)" (mouseout)="onMouseOut($event)" (blur)="onBlurJS($event)" (mouseover)="onMouseOver($event)"
  (mousedown)="onMouseDown($event)" (keydown)="onKeyDown($event)" (keyup)="onKeyup($event)" class="form-control input-type-text cap-inputTextArea {{styleClass}}"
  [disabled]="disabled" [cols]="cols" [rows]="rows" [(ngModel)]="value" type="text" [attr.maxlength]="maxlength?.length ? maxlength : ''"
  [placeholder]="placeholder?.length ? placeholder : ''">
  </textarea>
<i class="fa fa-exclamation-circle ico-error" [class.disabled]="disabled" *ngIf="textError"></i>
<p *ngIf="textHelper?.length" class="helper-text {{styleClass}}" [class.disabled]="disabled">{{textHelper}}</p>
