.cap-inputTextArea {
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #757575;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  resize: none;
  padding: 10px 12px;
}

.cap-inputTextArea.error {
  border: 1.5px solid #b00020;
}

.cap-inputTextArea:disabled {
  border: 1px solid #C9C9C9;
  background-color: #ffffff;
}

.cap-inputTextArea:focus {
  box-shadow: none;
  border-color: none;
}

label {
  background-color: #fff;
  max-width: 92%;
  font-weight: bold;
  font-family: Ubuntu;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: 12px;
  left: 0px;
  padding: 0px 3px;
  max-height: 24px;
  vertical-align: middle;
}

label.disabled {
  color: rgba(0, 0, 0, 0.5);
}

.helper-text.disabled {
  color: rgba(0, 0, 0, 0.5);
}

label.error {
  color: #b00020;
}

.helper-text {
  font-size: 11px;
  font-family: Ubuntu;
  letter-spacing: 0.2px;
  font-weight: 600;
  padding-left: 12px;
  padding-top: 3px;
}

.ico-error {
  float: right;
  position: relative;
  top: -35px;
  right: 14px;
  font-size: 20px;
  color: #b00020;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

textarea:disabled::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
textarea:disabled:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
textarea:disabled::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
textarea:disabled:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
