.cap-inputTextArea {
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #757575;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  resize: none;
  padding: 10px 12px;
}

.cap-inputTextArea:disabled {
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  color: #888;
}

.cap-inputTextArea:focus {
  box-shadow: none;
  border-color: none;
}
label {
  background-color: #fff;
  max-width: 92%;
  font-weight: bold;
  font-family: Ubuntu;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  top: 12px;
  left: 10px;
  padding: 0px 3px;
  max-height: 28px;
  vertical-align: middle;
}

/* .ico-error {
  float: right;
  position: relative;
  top: -35px;
  right: 14px;
  font-size: 20px;
  color: #b00020;
} */

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

textarea:disabled::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
textarea:disabled:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
textarea:disabled::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
textarea:disabled:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
