.icon-menu {
  color: #fff;
  font-size: 18px;
  min-width: 35px;
  max-width: 35px;
  opacity: 0.7;
  position: relative;
  top: 2px;
}

.brcap-ico.disabled {
  opacity: 0.5;
}

ul.list .icon-menu {
  padding-left: 15px;
}

.icon-arrow {
  color: #fff;
  float: right;
  padding-right: 5px;
  font-size: 16px;
}

.ico-ver-senha {
  float: right;
  position: relative;
  top: -60px;
  right: 15px;
  font-size: 20px;
  z-index: 2;
  cursor: pointer;
}
