<div class="{{styleClass}} col-lg-9 col-xl-6 no-padding-left">
  <div class="cap-grid-default box">
    <div class="table-title" *ngIf="tableTitle?.length">{{tableTitle}}</div>
    <div class="table-sub-title" *ngIf="tableSubTitle?.length">{{tableSubTitle}}</div>
    <div *ngIf="pagedItens.length > 0" class="cap-grid-content">
      <table id="table" class="table table-responsive" role="tablist" aria-multiselectable="true">
        <thead>
          <tr class="table-header">
            <th *ngFor="let c of columns">{{c}}</th>
            <th *ngIf="rowOptions"></th>
          </tr>
        </thead>

        <tbody>
          <tr class="animacao-hover" *ngFor="let v of pagedItens;  let i = index">
            <td *ngFor="let c of columns;  let j = index">{{v[j]}}</td>
            <td *ngIf="rowOptions" class="cap-grid-row-options">
              <button (click)="clickItem(i)" class="cap-grid-options"></button>
              <div *ngIf="showItemOptions === i" class="row-options">
                <ul>
                  <li *ngFor="let opt of rowOptions" class="cap-grid-item-option" (click)="clickItemOption(opt, i)">
                    {{opt}}
                    <span class="divisor"></span>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <cap-pagination (goNext)="nextPage()" (goPrev)="prevPage()" (goFirst)="firstPage()" (goLast)="lastPage()"
        [page]="currentPage" [contagemPaginasTotal]="totalPages" [primeiraLinha]="firstItem" [ultimaLinha]="lastItem"
        [numeroItens]="numeroItens"></cap-pagination>

    </div>
  </div>
</div>
