.main-header .logo {
   background: #d2c004;
}

.cap-menu {
  background: #c59609;
}

.menu-item:hover {
  background-color: rgba(255, 204, 0, 0.2);
}

.cap-button {
  background-color: #006bbb;
}

.content-header{
  background-color: rgba(0,161,255,0.3); 
}

.brcap-bg{
  background-color: #f1f1f1;
}