<div class="col-lg-12 no-padding">
  <div class="box">
    <div class="row">
      <div class="col-md-6">
        <div class="table-title" *ngIf="tableTitle?.length">{{tableTitle}}</div>
        <div class="table-sub-title" *ngIf="tableSubTitle?.length">{{tableSubTitle}}</div>
      </div>
      <div class="col-md-6">
        <cap-inputText class="float-right" styleClass="sm" label="Pesquisar" icon="busca" [(ngModel)]="nome"
          (ngModelChange)="pesquisar($event)" textHelper="Digite 3 caracteres para pesquisar" *ngIf="hasSearch">
        </cap-inputText>
      </div>
    </div>

    <div *ngIf="pagedItens.length > 0 || emptyMessage">
      <table id="table" class="table table-responsive" role="tablist" aria-multiselectable="true">
        <thead>
          <tr class="table-header">
            <th *ngFor="let c of columns">{{c}}</th>
            <th *ngIf="rowOptions"></th>
            <th *ngIf="hasQuickView" class="text-center">Mais info</th>
          </tr>
        </thead>

        <tbody>
          <tr class="animacao-hover" *ngFor="let v of pagedItens;  let i = index">

            <td *ngFor="let c of columns;  let j = index">{{v[j]}}</td>

            <td *ngIf="rowOptions" class="text-center" (mouseleave)="mouseLeaveRowOptions()">
              <cap-button styleClass="outline xs btn-ico" icon="mais-opcoes" (click)="clickItem(i)"></cap-button>
              <div *ngIf="showItemOptions === i" class="row-options">
                <ul>
                  <li *ngFor="let opt of rowOptions" (click)="clickItemOption(opt, i)">
                    {{opt}}
                    <span class="divisor"></span>
                  </li>
                </ul>
              </div>
            </td>

            <td *ngIf="hasQuickView" class="text-center">
              <cap-button styleClass="outline xs btn-ico" icon="mais-opcoes" (click)="openQuickView()"></cap-button>
            </td>

            <div class="over" *ngIf="quickview"></div>
            <div class="quickview" *ngIf="quickview">
              <cap-icon icon="x-circulo" class="fecharQuickView" (click)="closeQuickView()"></cap-icon>
              <div class="content-quickview">
                <ng-content></ng-content>
              </div>
            </div>

          </tr>
        </tbody>
      </table>

      <div class="emptyMessage" *ngIf="emptyMessage">Nenhum resultado encontrado</div>

      <div class="row">
        <div class="col-md-6">
          <cap-pagination (goNext)="nextPage()" (goPrev)="prevPage()" (goFirst)="firstPage()" (goLast)="lastPage()"
            [page]="currentPage" [contagemPaginasTotal]="totalPages" [primeiraLinha]="firstItem"
            [ultimaLinha]="lastItem" [numeroItens]="numeroItens"></cap-pagination>
        </div>
        <div class="col-md-6 text-right">
          <cap-button label="Baixar PDF" styleClass="sm" icon="arquivo" (click)="exportarPdf()" *ngIf="baixarPdf">
          </cap-button>
          <cap-button label="Baixar XLS" styleClass="sm" icon="arquivo" (click)="exportarXls()" *ngIf="baixarXls">
          </cap-button>
        </div>
      </div>

    </div>
  </div>
</div>
