/* !
* BRCap Icones
* @author Felipe Sousa
* @description Icones no padrao brasilcap
*
*/
@font-face {
    font-family: "brcap-ico";
    src: url("../fonts/darwin-icons/darwin-icons.ttf?mmqvqv") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  .brcap-ico {
    font-family: "brcap-ico" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .ajuda:before {
    content: "\e921";
  }
  
  .menu:before {
    content: "\e900";
  }
  
  .adiantar10:before {
    content: "\e919";
  }
  
  .voltar:before {
    content: "\e901";
  }
  
  .adicionar:before {
    content: "\e902";
  }
  
  .alerta:before {
    content: "\e903";
  }
  
  .arquivo:before {
    content: "\e904";
  }
  
  .busca:before {
    content: "\e905";
  }
  
  .calendario:before {
    content: "\e906";
  }
  
  .check-circulo:before {
    content: "\e907";
  }
  
  .compartilhar:before {
    content: "\e908";
  }
  
  .esconder-senha:before {
    content: "\e909";
  }
  
  .seguir:before {
    content: "\e910";
  }
  
  .anterior:before {
    content: "\e911";
  }
  
  .seta-cimabaixo:before {
    content: "\e912";
  }
  
  .usuario:before {
    content: "\e913";
  }
  
  .x-circulo:before {
    content: "\e914";
  }
  
  .ver-senha:before {
    content: "\e916";
  }
  
  .retrair:before {
    content: "\e90a";
  }
  
  .expandir:before {
    content: "\e910";
  }
  
  .favorito:before {
    content: "\e90b";
  }
  
  .fullscreen:before {
    content: "\e922";
  }
  
  .info:before {
    content: "\e90c";
  }
  
  .mais-opcoes:before {
    content: "\e90d";
  }
  
  .menos:before {
    content: "\e90e";
  }
  
  .sair:before {
    content: "\e90f";
  }
  
  .adiantar10:before {
    content: "\e919";
  }
  
  .pausar:before {
    content: "\e91a";
  }
  
  .tocar:before {
    content: "\e91b";
  }
  
  .voltar10:before {
    content: "\e91c";
  }
  
  .volumeoff:before {
    content: "\e91d";
  }
  
  .volumeon:before {
    content: "\e91e";
  }
  
  .codigo:before {
    content: "\e91f";
  }
  
  .editar:before {
    content: "\e920";
  }
  
  .mover:before {
    content: "\e915";
  }
  
  .x:before {
    content: "\78";
  }
  
  .sucesso:before {
    content: "\e917";
  }
  
  /* .primeira-pagina{
    content: "\";
  }
  
  .ultima-pagina{
    content: "\";
  }
  
  .permissionar{
    content: "\";
  }
  
  .pesquisa-avancada{
    content: "\";
  } */